.card {
  background-color: blueviolet;
  min-width: 20%;
  height: 80px;
  margin: auto;
  border-radius: 5px;
  list-style-type: none;
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 1px 10px 10px rgb(166, 161, 161);
}

.card-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 22px;
  font-family: "roboto";
  cursor: pointer;
  outline: none;
}
